# langchain-aws>=0.3.0
langchain-core>=0.3.0
langgraph>=0.2.0
fastapi==0.115.0
uvicorn==0.32.0
python-multipart==0.0.12
pydantic
pdfplumber==0.11.4
python-dotenv==1.0.1
requests==2.31.0
slowapi==0.1.9
# langchain-anthropic>=1.3.0
langchain-google-genai>=4.1.0
mangum==0.17.0
